#searchBar {
  margin: 15px 10px;
}

.title{
  background-color: #00529b;
  color: azure;
}

.tableWrapper {
  max-height: 450px;
  overflow: auto;
}

.listingItem {
  cursor: pointer;
}

.coord{
  float:left;
  width: 48.5% !important;
}

.lat{
  margin-right: 1.5%;
}

.long{
  margin-left: 1.5%;
}

.addBtn{
  margin: 3% auto;
  width: 40%;

  background-color: #4F75BB;
  color: azure;
}

.addBtn:hover{
  background-color: #00529b;
  color: azure;
}

.jumbotron{
  margin-top: 1.5%;
  background-color: #ff9d3d;
}

.table{
  background-color: #ffefde;
}
